@font-face
  font-family kaushan
  src url('~assets/fonts/kaushan-script.ttf')
@font-face
  font-family roboto
  src url('~assets/fonts/roboto.ttf')
@font-face
  font-family roboto-italic
  src url('~assets/fonts/roboto_italic.ttf')
@font-face
  font-family montserrat
  src url('~assets/fonts/montserrat.ttf')
@font-face
  font-family montserrat-bold
  font-weight bold
  src url('~assets/fonts/montserrat-bold.ttf')
